1 Volume, Velocity, Variety, Veracity and Value
2. Scaling up and Scaling out
3. Scaling up is increasing the configuration of a single system.
   Scaling out is using multiple commodity (economical) machines and distribute the load of storage/processing among them.
